<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="app_preset_prof_preset_name">Server Launch Configuration</entry>
<entry key="profiler.settings.sampling.interval">10</entry>
<entry key="app_preset_prof_preset_filter_s"/>
<entry key="app_preset_prof_preset_filter_p">xygdev.commons.core.*,&#13;
xygdev.commons.entity.*,&#13;
xygdev.commons.interact.*,&#13;
xygdev.commons.page.*,&#13;
xygdev.commons.server.*,&#13;
xygdev.commons.springjdbc.*,&#13;
xygdev.commons.sqlStmt.*,&#13;
xygdev.commons.util.*</entry>
<entry key="profiler.settings.n.profiled.threads.limit">32</entry>
<entry key="app_preset_prof_preset_alloc_p">10</entry>
<entry key="profiler.settings.instrument.method.invoke">true</entry>
<entry key="app_preset_"/>
<entry key="profiler.settings.obj.alloc.stack.sampling.depth">0</entry>
<entry key="app_preset_prof_preset_samplingRefreshRate_s">1000</entry>
<entry key="app_preset_prof_preset_stacks_p">false</entry>
<entry key="app_preset_prof_preset_roots_p">xygdev.commons.core.**
xygdev.commons.entity.**
xygdev.commons.interact.**
xygdev.commons.page.**
xygdev.commons.server.**
xygdev.commons.springjdbc.**
xygdev.commons.sqlStmt.**
xygdev.commons.util.**
</entry>
<entry key="profiler.settings.instrument.empty.methods">false</entry>
<entry key="myeclipse.profiling.mode">0</entry>
<entry key="profiler.settings.istrument.getter.setter.methods">false</entry>
<entry key="app_preset_prof_preset_samplingRate_s">100</entry>
<entry key="profiler.settings.instr.scheme">1</entry>
<entry key="profiler.settings.cpu.profiling.type">0</entry>
<entry key="app_preset_prof_preset_selector"/>
<entry key="app_preset_prof_preset_filterMode_s">true</entry>
<entry key="app_preset_prof_preset_runnables_p">true</entry>
<entry key="app_preset_prof_preset_refreshRate_s">1000</entry>
<entry key="app_preset_prof_preset_filterMode_p">false</entry>
<entry key="app_preset_prof_preset_memoryMode_p">true</entry>
</properties>
